.toggle {
  margin-bottom: 5px;
  display: inline-block; }
  .toggle input {
    display: none; }
    .toggle input:checked + label {
      background: #4CD964; }
    .toggle input:disabled + label {
      opacity: 0.5;
      pointer-events: none;
      cursor: not-allowed; }
  .toggle label {
    display: block;
    background: #C7C7CC;
    position: relative;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-size: 0;
    cursor: pointer; }
    .toggle label:before {
      content: '';
      display: block;
      background: white;
      position: relative;
      top: 2px;
      left: 2px;
      -webkit-transition: all .3s;
      transition: all .3s; }

.toggle + label {
  font-weight: normal;
  margin-left: 5px;
  cursor: pointer; }

.toggle input:checked + label:before {
  -webkit-transform: translateX(10px);
          transform: translateX(10px); }

.toggle label {
  width: 30px;
  height: 20px;
  border-radius: 20px; }
  .toggle label:before {
    width: 16px;
    height: 16px;
    border-radius: 20px; }

