@mixin simple-toggle-variant($width, $height) {
  input:checked + label:before {
    transform: translateX($width - $height);
  }

  label {
    width: $width;
    height: $height;
    border-radius: $height;
    &:before {
      width: $height - 2 * $simple-toggle-button-offset;
      height: $height - 2 * $simple-toggle-button-offset;
      border-radius: $simple-toggle-height;
    }
  }
}
