$simple-toggle-width: 30px !default;
$simple-toggle-height: 20px !default;
$simple-toggle-button-offset: 2px !default;
$simple-toggle-checked: #4CD964 !default;
$simple-toggle-not-checked: #C7C7CC !default;